[package]
name = "rustbpe"
version = "0.1.0"
edition = "2024"

[dependencies]
dary_heap = "0.3"
indexmap = "2.2"
fancy-regex = "0.16.1"
log = "0.4.28"
env_logger = "0.11"
ahash = "0.8.12"
rayon = "1.11.0"
compact_str = "0.9.0"

[profile.dev]
opt-level = 0
debug = true